<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <style>
        body {
            background-image: url('static/formback.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        } 
        
        #form {
            background-color: white;
            display: flex;
            justify-content: center;
            margin-left: 500px;
            margin-top:100px;
            width: 500px;
            height: 550px;
        }
    </style>
</head>
<body>
    <div class="container" id="form"> 
        
       
        <form method="POST" action="{{ url_for('signup') }}"> 
            <br>
            <h1 style="margin-left:80px;">MediPredict</h1>
            {{ form.csrf_token }}
            <div>
                <br> 
                <div>
                    <h3>{{ form.username.label }}</h3>
                    {{ form.username(placeholder="username") }}
                </div>
                <br> 
                <div>
                    <h3>{{ form.email.label }}</h3>
                    {{ form.email(placeholder="email") }}
                    {{ form.email.errors }}
                </div>
                <br>
                <div> 
                    {{ form.submit() }}
                </div>
            </div> 
        </form>
    </div> 
</body>
</html>
